{% extends "base.html.twig" %}

{% block body %}
<div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="container bg-dark">
                  
                    {{ form_start(form_Classes,{ 'attr': {'class': 'wizard-big wizard'} }) }}
                        <div class="jumbotron ">
                            <div class="row-group ">
                                <div class="col-lg">
                                    <div class="form-group ">
                                        <label class="font-normal">Libelle</label>
                                        <div class="input-group ">
                                            {{ form_widget(form_Classes.libelle, { 'attr': {'class': 'form-control','placeholder':'veiller saisir votre Libelle'} }) }}
                                        </div>
                                    </div>

                                      <div class="form-group ">
                                        <label class="font-normal">Filiere</label>
                                        <div class="input-group ">
                                            {{ form_widget(form_Classes.filliere, { 'attr': {'class': 'form-control','placeholder':'veiller saisir votre filliere'} }) }}
                                        </div>
                                    </div>

                                      <div class="form-group ">
                                        <label class="font-normal">niveau</label>
                                        <div class="input-group ">
                                            {{ form_widget(form_Classes.niveau, { 'attr': {'class': 'form-control','placeholder':'veiller saisir votre Niveau'} }) }}
                                        </div>
                                    </div>
                                   
                         
                        <div class="actions clearfix">
                            <div style="margin-top: 30px; ">
                                {{ form_widget(form_Classes.submit, { 'attr': {'class': 'btn btn-sm btn-primary m-t-n-xs justify-content-center'} }) }}
                            </div>
                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form_Classes) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}