{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
 <h1 class="text-center text-danger bg-dark">BIENVENUE A ODC SCHOOL DEV WEV P4</h1>
<div class=" d-flex justify-content-center   p-5 bg bg-dark style d-flex ">
        <h1 class="btn btn-light   fw-bold mb-0 border  text-blaxk" >LISTE DES ETUDIANT INSCRIS</h1>
        <a class="btn btn-light   fw-bold mb-0 border  text-blaxk ml-50" aria-current="page" href="logout">+ Ajouter Etudiant</a>

    
</div>
<table class="table table-hover">
  <thead class="border-5 bg-dark text-white">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">NOM_COMPLET</th>
      <th scope="col">ROLE</th>
      <th scope="col">MATRICULE</th>
      <th scope="col">SEXE</th>
      <th scope="col">ADRESSE</th>

      <th scope="col">ACTION</th>
    
  </tr>
  </thead>
  <tbody>
    {# $i = 1; #}
        {% for etudiant in etudiants%}
        <tr class="text-bletudiantk"  >        
            
           <td> {{etudiant.nomComplet}}</td>
            <td>{{etudiant.Email}}</td>
            {# <td>{{etudiant.Roles}}</td> #}
            <td>{{etudiant.Matricule}}</td>
            <td>{{etudiant.Sexe}}</td>
            <td>{{etudiant.Adresse}}</td>


            <td>
            <a href="/Etudiant/<?=$p->id_personne?>" class="btn btn-secondary btn-">detail</a>
              <a href="/Etudiant/<?=$p->id_personne?>" class="btn btn-primary btn-">modifier</a>
              <a href="/Etudiant/<?=$p->id_personne?>" class="btn btn-danger btn-">supprimer</a>
            </td>
        </tr>     
{% endfor %}
  </tbody>
</table>
{% endblock %}
